@{
    string actionName = this.ViewContext.RouteData.Values["action"].ToString();
    string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string areaName = "";
    if (this.ViewContext.RouteData.DataTokens["area"] != null)
    {
        areaName = this.ViewContext.RouteData.DataTokens["area"].ToString();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="no-cache">
    <meta name="description" content="small description">
    <meta name="keywords" content="project">
    <meta name="robots" content="no-cache">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My Code Editor</title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link href="@Url.Content("~/Content/awe/css/font-awesome.min.css")" rel="stylesheet" type="text/css"/>
<link href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" rel="stylesheet"/>
<link href="@Url.Content("~/Content/material/bootstrap-material-design.min.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/material/ripples.min.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/material-datepicker/css/bootstrap-material-datetimepicker.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/chosen/chosen.min.css")" rel="stylesheet"/>
        <link href="@Url.Content("~/Content/selectize/css/selectize.css")" rel="stylesheet"/>
    @Styles.Render("~/Content/css")
    @*<link href="http://editor.techmoon.in/extras/jqueryui\jquery-ui.min.css" rel="stylesheet" type="text/css">
            <link href="http://editor.techmoon.in/extras/jqueryui\jquery-ui.theme.min.css" rel="stylesheet" type="text/css">
            <link href="http://editor.techmoon.in/extras/chosen/chosen.min.css" rel="stylesheet" type="text/css">
            <link href="http://editor.techmoon.in/extras/bootstrap/css_bl/bootstrap.min.css" rel="stylesheet" type="text/css">
     
            <link href="http://editor.techmoon.in/extras/bootstrap/css_bl/admin.css" rel="stylesheet" type="text/css">
            <link href="http://editor.techmoon.in/extras/highlight/styles/school_book.css" rel="stylesheet" type="text/css">
            <link href="http://editor.techmoon.in/extras/highlight/styles/vs.css" rel="stylesheet" type="text/css">
            <link href="http://editor.techmoon.in/css/theme/default/style?page=project" rel="stylesheet" type="text/css">
            <script type="text/javascript" src="http://editor.techmoon.in/js/theme/default/jquery"></script>
            <script type="text/javascript" src="http://editor.techmoon.in/extras/chosen/chosen.jquery.min.js"></script>
            <script type="text/javascript" src="http://editor.techmoon.in/extras/bootstrap/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="http://editor.techmoon.in/extras/highlight/highlight.pack.js"></script>
            <script type="text/javascript" src="http://editor.techmoon.in/extras/jqueryui\jquery-ui.min.js"></script>
            <script>
        hljs.initHighlightingOnLoad();
            </script>
            <script type="text/javascript" src="http://editor.techmoon.in/js/theme/default/validation"></script>
            <script type="text/javascript" src="http://editor.techmoon.in/js/theme/default/editor"></script>
            <script type="text/javascript" src="http://editor.techmoon.in/js/theme/default/script"></script>
            <script type="text/javascript" src="http://editor.techmoon.in/js/theme/default/project"></script>
            <style>
                .eb, .cb {
                    color: red;
                }
            </style>*@
</head>
<body>
    <div class="container-fluid">
        <div class="col-xs-50 bg-white no-padding">
            <input value="@Url.Action("", "")" id="rooturl" type="hidden"/>
            <input value="@actionName" id="function" type="hidden"/>
            <input value="@controllerName" id="controller" type="hidden"/>
            <input value="@areaName" id="area" type="hidden"/>
            <div class="alert" id="alert"></div>
            <div id="pageloader" style="display: none;">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-50" style="box-shadow: -1px 0px 1px 1px #aa935a;">
                <div class="col-xs-50 col-sm-50 col-md-50 col-lg-50 header">
                    <div class="col-xs-50 ">
                        <div class="col-xs-50 hiddendiv globalcontent">
                            <div class="col-xs-48 ">
                                <ul class="nav nav-pills ">
                                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Settings", "Database", "Settings")</li>
                                    <li>@Html.ActionLink("Generate Model", "GenerateModel", "Model")</li>
                                </ul>
                            </div>
                            <div class="col-xs-2 ">
                                <div class="col-xs-50 margin-top-1" style="font-size: 25px; line-height: 40px;">
                                    @Html.Partial("_LoginPartial")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-50 mt-10">
                <div class="breadcumbabs">

                    <ul class="breadcrumb" style="margin-bottom: 5px;">
                        <li><span class="glyphicon glyphicon-pushpin"></span></li>
                        @if (areaName != string.Empty)
                        {
                            <li><a href="javascript:void(0)">@areaName</a></li>
            }
                        <li><a href="javascript:void(0)">@controllerName</a></li>
                        <li class="active"><a href="javascript:void(0)">@ViewBag.Title </a></li>
                    </ul>
                </div>


                @RenderBody()

                @*<div class="col-xs-33 col-xs-offset-1 margin-top-2 ">
                <div class="box box-warning">
                    <div class="box-body">
                        <table class="table table-responsive  table-bordered">
                            <thead>
                            <tr>
                                <td >Project Name</td>
                                <td >Path</td>
                                <td >Db Type</td>
                                <td >Language</td>
                                <td >edit</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td >Project Name</td>
                                <td >Path</td>
                                <td >Db Type</td>
                                <td >Language</td>
                                <td >edit</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>*@
            </div>
            <div class="top col-xs-50 bg-primary">
                <footer id="masthead" class="site-header" role="banner">
                    <div class="col-lg-44 col-xs-50 col-md-48 col-md-offset-1 col-lg-offset-3">
                        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    </div>
                </footer>
            </div>
        </div>
        </div>
@Scripts.Render("~/bundles/jquery")
<script src="@Url.Content("~/Scripts/commonscripts.js")"></script>
<script src="@Url.Content("~/Scripts/development.js")"></script>
<script src="@Url.Content("~/Scripts/localcache.js")"></script>
<script src="@Url.Content("~/Scripts/sessionstorage.js")"></script>
<script src="@Url.Content("~/Scripts/angular-modelvalidation.js")"></script>
<script src="@Url.Content("~/Scripts/ng/angular.js")"></script>
    <script src="@Url.Content("~/Scripts/moment/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/material/arrive.min.js")"></script>
<script src="@Url.Content("~/Scripts/material/material.min.js")"></script>
<script src="@Url.Content("~/Scripts/material/ripples.min.js")"></script>
<script src="@Url.Content("~/Scripts/material-datepicker/js/bootstrap-material-datetimepicker.js")"></script>
<script src="@Url.Content("~/Scripts/chosen/chosen.jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/selectize/standalone/selectize.min.js")"></script>
    <script src="@Url.Content("~/Scripts/htmldesigner.js")"></script>
    
<script src="@Url.Content("~/Scripts/" + controllerName.ToLower() + "-" + actionName.ToLower() + ".js")"></script>
@RenderSection("scripts", required: false)
<script>
    $.material.init();
</script>
</body>
</html>
@*
        var type = typeof(YourNamespace.Models.YourModelName);
    var memInfo = type.GetMember("firstName"); // your member
    var attributes = memInfo[0].GetCustomAttributes(typeof(System.ComponentModel.DataAnnotations.DisplayAttribute), false);
    var displayname = ((System.ComponentModel.DataAnnotations.DisplayAttribute)attributes[0]).Name;
*@