
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @{
        string actionName = this.ViewContext.RouteData.Values["action"].ToString();
        string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        string areaName = "";
        if (this.ViewContext.RouteData.DataTokens["area"] != null)
        {
            areaName = this.ViewContext.RouteData.DataTokens["area"].ToString();
        }
    }
  
    <meta name="viewport" content="width=device-width"/>
    <title>Designer</title>
    <link href="@Url.Content("~/Content/awe/css/font-awesome.min.css")" rel="stylesheet" type="text/css" data-genid="Shared_Layout_14">
    <link href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" rel="stylesheet" data-genid="Shared_Layout_15">
    <link href="@Url.Content("~/Content/material/bootstrap-material-design.min.css")" rel="stylesheet" data-genid="Shared_Layout_16">
    <link href="@Url.Content("~/Content/material/ripples.min.css")" rel="stylesheet" data-genid="Shared_Layout_17">
    <link href="@Url.Content("~/Content/material-datepicker/css/bootstrap-material-datetimepicker.css")" rel="stylesheet" data-genid="Shared_Layout_18">
    @*<link href="@Url.Content("~/Content/chosen/chosen.min.css")" rel="stylesheet" data-genid="Shared_Layout_19">*@
    <link href="@Url.Content("~/Content/selectize/css/selectize.css")" rel="stylesheet" data-genid="Shared_Layout_20">
    <link href="@Url.Content("~/Content/css/site")" rel="stylesheet" data-genid="Shared_Layout_21">
   
    @*<script src="@Url.Content("~/Scripts/internal/messenger.js")"></script>*@
</head>
<body>
<div class="col-xs-50 bg-white no-padding" data-genid="Shared_Layout_24">
<input value="@Url.Action("", "", new {area = ""})" id="rooturl" type="hidden" data-genid="Shared_Layout_25">
<input value="@Url.Content("~/Content/")" id="contenturl" type="hidden" data-genid="Shared_Layout_26">
<input value="@actionName" id="function" type="hidden" data-genid="Shared_Layout_27">
<input value="@controllerName" id="controller" type="hidden" data-genid="Shared_Layout_28">
<input value="@areaName" id="area" type="hidden" data-genid="Shared_Layout_29">
@Scripts.Render("~/bundles/jquery")
<script src="@Url.Content("~/Scripts/bootstrap.min.js")" data-genid="Shared_Layout_79"></script>
<script src="@Url.Content("~/Scripts/internal/commonscripts.js")" data-genid="Shared_Layout_80"></script>
<script src="@Url.Content("~/Scripts/internal/development.js")" data-genid="Shared_Layout_81"></script>
<script src="@Url.Content("~/Scripts/internal/localcache.js")" data-genid="Shared_Layout_82"></script>
<script src="@Url.Content("~/Scripts/internal/sessionstorage.js")" data-genid="Shared_Layout_83"></script>
@*<script src="@Url.Content("~/Scripts/internal/angular-modelvalidation.js")" data-genid="Shared_Layout_84"></script>
    <script src="@Url.Content("~/Scripts/ng/angular.js")" data-genid="Shared_Layout_85"></script>*@
<script src="@Url.Content("~/Scripts/moment/moment.min.js")" data-genid="Shared_Layout_86"></script>
<script src="@Url.Content("~/Scripts/material/arrive.min.js")" data-genid="Shared_Layout_87"></script>
<script src="@Url.Content("~/Scripts/material/material.min.js")" data-genid="Shared_Layout_88"></script>
<script src="@Url.Content("~/Scripts/material/ripples.min.js")" data-genid="Shared_Layout_89"></script>
<script src="@Url.Content("~/Scripts/material-datepicker/js/bootstrap-material-datetimepicker.js")" data-genid="Shared_Layout_90"></script>
@*<script src="@Url.Content("~/Scripts/chosen/chosen.jquery.min.js")" data-genid="Shared_Layout_91"></script>*@
<script src="@Url.Content("~/Scripts/selectize/standalone/selectize.min.js")" data-genid="Shared_Layout_92"></script>
<script src="@Url.Content("~/Scripts/internal/bindlist.js")" data-genid="Shared_Layout_93"></script>

<script src="@Url.Content("~/Scripts/internal/htmldesignerhtml.js")"></script>
<script src="@Url.Content("~/Scripts/internal/htmldesignerinitilize.js")"></script>
<script src="@Url.Content("~/Scripts/internal/htmldesignerobj.js")"></script>
<script src="@Url.Content("~/Scripts/internal/htmldesignerfunctions.js")"></script>

<script src="@Url.Content("~/Scripts/internal/htmldesignerstdynfn.js")"></script>
<script src="@Url.Content("~/Scripts/internal/htmldesignerststaticfn.js")"></script>
<script src="@Url.Content("~/Scripts/internal/htmldesignerevents.js")"></script>

<script src="@Url.Content("~/Scripts/internal/htmldesignerstajaxfn.js")"></script>


<script src="@Url.Content("~/Scripts/internal/htmldesigner.js")"></script>
<div class="col-xs-50 bg-white">


</div>
</body>
</html>
