@using Web.Controllers.Json
@model Web.Models.DatabaseConnectionModel
@{
    Layout = null;
}


@functions {

    string cdRootpath = "http://localhost:2525/";
    string cdLinks = "";
    string cdScripts = "";

    void require(string category, string name = null)
    {
        string cdScriptpath = cdRootpath + "Scripts/";

        if (name != null)
        {
            category = category + "/" + name;
        }
        cdScripts += "<script src='" + cdScriptpath + category + ".js' type='text/javascript'  ></script>";

    }

    void include(string category, string name = null)
    {
        string cdStylepath = cdRootpath + "Content/";
        if (name != null)
        {
            category = category + "/" + name;
        }
        cdLinks += "<link href='" + cdStylepath + category + ".css' rel='stylesheet' type='text/css' />";
    }

    private string BindCheckbox(string name, string key, string classname,string label, string boxchecked="")
    {
        var html= "<div class='hdcol-xs-50 hd_menubox' id='hd_" + key + "_box'>";
        html+= "<div class='hdcol-xs-50'>";
        html += "<div class='hdform-group hdform-group-sm'>";
        html += "<div class='togglebutton'>";
        html += "<label>";
        html += Html.Hidden(name, boxchecked, new { id = "hd_" + key, value = boxchecked });
        if (boxchecked=="True")
        {
            html += Html.CheckBox(name + "_check", new {id = "hd_" + key + "_check", @class = classname,@checked=true});
        }
        else
        {
            html += Html.CheckBox(name + "_check", new {id = "hd_" + key + "_check", @class = classname});
        }
        html += "<span>"+ label + "</span>";
        html += "</label>";
        html += "</div>";
        html += "</div>";
        html += "</div>";
        html += "</div>";
        return html;
    }
    private string BindTextbox(string name, string key, string classname,string label, string value="",string placeholder="")
    {
        var html= "<div class='hdcol-xs-50 hd_menubox' id='hd_" + key + "_box'>";
        html+= "<div class='hdcol-xs-50'>";
        html += "<div class='hdform-group hdform-group-sm'>";
        if (label != "")
        {
            html += "<label class='control-label pull-left'>";
            html +=  label ;
            html += "</label>";
        }
        html += Html.TextBox(name, new { id = "hd_" + key, value, @class = "hdform-control "+classname, placeholder });
        html += "</div>";
        html += "</div>";
        html += "</div>";
        return html;
    }
    private string BindDropDown(string name, string key, string optionattribute, string optionvalue, string label, string jsonaction, string jsoncontroller,string serverDependRequiredKeys="", string serverDependKeys = "",string method="",string dataobjects="")
    {
        var html = "<div class='hdcol-xs-50 hd_menubox' id='hd_" + key + "_box'>";
        html += "<div class='hdcol-xs-50'>";
        html += "<div class='hdform-group hdform-group-sm'>";
        html += "<label class='control-label pull-left' >" + label + "</label>";
        html += "<datalist data-caching='true' ";

        html += "id='hd_" + key + "_list' ";
        if (jsoncontroller != ""&& jsonaction != "")
        {
            html += "data-json='" + (cdRootpath + Url.Action(jsonaction, jsoncontroller)) + "' ";
        }
        if (serverDependKeys!="")
        {
            html += "data-filterby='" + serverDependKeys+"' ";
        }
        if (serverDependRequiredKeys != "")
        {
            html += "data-filterby-required='" + serverDependRequiredKeys + "' ";
        }
        if (method != "")
        {
            html += "data-requestmethod='" + method + "' ";
        }
        if (dataobjects != "")
        {
            html += "data-dataobject='" + dataobjects + "' ";
        }

        html += ">";
        html += "<option data-follow='true' data-key='" + optionattribute + "'>" + optionvalue + "</option>";
        html += "</datalist>";
        html += "<input type='text' ";
        html += "list='hd_" + key + "_list' ";
        html += "id='hd_" + key + "' name='" + name + "' ";
        html += "class='hdform-control   input-sm' ";
        html += "placeholder='" + label + "'";
        html += "/>";

        html += "</div>";
        html += "</div>";
        html += "</div>";
        return html;
    }
        }
@{


    if (!ViewBag.isjquery)
    {
        require("jquery-3.1.1.min");
    }

    require("internal", "utilities");

    require("moment", "moment.min");
    require("material", "arrive.min");
    require("material", "ripples.min");
    require("material", "material.min");
    require("material-datepicker", "js/bootstrap-material-datetimepicker");
    //require("chosen", "chosen.jquery.min");
    require("colorpicker", "js/bootstrap-colorpicker.min");
    //require("selectize", "standalone/selectize.min");
    //require("internal", "htmldesignerhtml");
    require("internal", "htmldesignerststaticfn");
    require("internal", "htmldesignerstdynfn");

    /*Designing Part*/
    require("internal", "htmldesignerfunctions");
    require("internal", "htmldesignerstajaxfn");
    require("internal", "bindlist");
    //require("internal", "htmldesignerhtml");
    require("internal", "htmldesignerobj");
    require("internal", "htmldesignerevents");
    require("internal", "htmldesigner");
    /*Designing Part End*/
    /*DB Part*/

    require("internal", "codeeditorbackupdata");
    require("internal", "codeeditormenumanager");
    require("internal", "codeeditor");

    /*DB Part End*/

    require("jlbinder");

    //if (!ViewBag.isbootstrap)
    //{
    //    require("bootstrap.min");
    //}
    include("awe", "css/font-awesome.min");
    //include("bootstrap","bootstrap.min");
    include("colorpicker", "css/bootstrap-colorpicker.min");
    include("material", "bootstrap-material-design.min");
    include("material", "ripples.min");
    include("material-datepicker", "css/bootstrap-material-datetimepicker");
    //include("chosen", "chosen.min");
    include("selectize", "css/selectize");
    include("hd_styles");
    include("hdcustomstyles");

    }






    @Html.Raw(cdScripts)

    @Html.Raw(cdLinks)


    @*<div id="absolutestyleeditor">
        <div class="hdpanel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-bottom: 0px;">
            <div class="hdpanel hdpanel-success">
                <div class="hdpanel-heading" style="padding: 4px;">
                    <h6 class="hdpanel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseStyle" aria-expanded="true" aria-controls="collapseStyle">Style Editor</a>
                    </h6>
                </div>
                <div id="collapseStyle" class="hdpanel-collapse collapse in" role="tabhdpanel" aria-labelledby="headingOne">
                    <div class="hdpanel-body">
                        <div class="hdpanel-group" id="hdstylemenu" role="tablist" aria-multiselectable="false"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<div id="hd_rightmenu_dommanage" class="hd_rightmenu">
    <div class="hdcol-xs-50">
        <div class="hdpanel hdpanel-info hdcol-xs-50 hdpanelheading">
            <div class="hdpanel-heading hdcol-xs-50" id="hd_rightmenu_dommanage_header">
                <h3 class="hdpanel-title">Dom Manage <span></span></h3>
            </div>
            <div class="hdpanel-body open hdcol-xs-50" id="hd_rightmenu_dommanage_body" style="">
                <div class="hdcol-xs-50" id="hd_rightmenu_dommanage_allattributes" style="">
                    @Html.Raw(BindDropDown("NewElement", "newelement", "jlindex", "div", "Add New Element", "json/html-tags-generated.json", "Content", "", "", "get", "tags"))
                    
                    

                    @*string name, string key, string optionattribute, string optionvalue, string label, string jsonaction, string jsoncontroller*@
                    @Html.Raw(BindDropDown("Classes", "classes", "jlvalue", "", "Classes", "", "", "", "", "", ""))

                    @Html.Raw(BindDropDown("Attributes", "attributes", "jlindex", "", "New Attribute", "json/html-tags-generated.json", "Content", "", "", "get", "attributes"))
                    @Html.Raw(BindTextbox("NewAttributeValue", "newattributevalue", "","", "","value"))
                    

                    <div class="hdcol-xs-50 hd_menubox">
                        <a href="javascript:void(0)"> Style </a>
                        <div id="hd_rightmenu_styles" class="hd_rightmenu_clear  hdcol-xs-50 "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <datalist id="hd_stylelist"></datalist>
</div>
<div id="hd_rightmenu_database" class="hd_rightmenu" >
    <div class="hdcol-xs-50">
        <div class="hdpanel hdpanel-info hdcol-xs-50 hdpanelheading">
            <div class="hdpanel-heading hdcol-xs-50" id="hd_rightmenu_database_header">
                <h3 class="hdpanel-title">Database <span ></span></h3>
            </div>
            <div class="hdpanel-body open hdcol-xs-50" id="hd_rightmenu_database_body" style="">
                <div class="hdcol-xs-50" id="hd_rightmenu_database_allattributes" style="">
                    @*string name, string key, string optionattribute, string optionvalue, string label, string jsonaction, string jsoncontroller*@
                    @Html.Raw(BindDropDown("DatabaseLanguage", "dblanguages", "language", "MSSql", "DB Language", "GetAllSQlLanguages", "DbApi"))
                    @Html.Raw(BindDropDown("Server", "servernames", "ServerName", "localhost", "Server Name", "GetAllServerNames", "DbApi", "#hd_dblanguages"))
                    @Html.Raw(BindDropDown("Authentication", "authentications", "authentication", "SQL Password", "Authentication", "GetAllAuthenticationTypes", "DbApi", "#hd_dblanguages"))
                    @Html.Raw(BindDropDown("UID", "usernames", "username", "superadmin", "User Name", "GetAllDemoUsers", "DbApi"))
                    @Html.Raw(BindDropDown("Password", "passwords", "password", "mango123", "Password", "GetAllDemoPasswords", "DbApi"))
                    @Html.Raw(BindDropDown("InitialCatalog", "dbnames", "database_name", "master", "Databases", "GetAllDatabases", "DbApi", "#hd_authentications,#hd_servernames,#hd_usernames,#hd_passwords", "#hd_multipleactiveresultsets,#hd_trustservercertificate"))

                    @Html.Raw(BindCheckbox("IntegratedSecurity", "integratedsecurity", "TrueFalse", "Integrated Security"))
                    @Html.Raw(BindCheckbox("Encrypt", "encrypt", "TrueFalse", "Encrypt"))
                    @Html.Raw(BindCheckbox("TrustServerCertificate", "trustservercertificate", "TrueFalse", "Trust Server Certificate", "True"))
                    @Html.Raw(BindCheckbox("EncryptConnection", "encryptconnection", "TrueFalse", "Encrypt Connection"))
                    @Html.Raw(BindCheckbox("MultipleActiveResultSets", "multipleactiveresultsets", "TrueFalse", "Multiple Active Result Sets","True"))
                    @*@Html.Raw(BindCheckbox("PersistSecurityInfo", "persistsecurityinfo", "TrueFalse", "Persist Security Info"))*@
                    @*@Html.Raw(BindCheckbox("MultiSubNetFailOver", "multisubnetfailover", "TrueFalse", "MultiSubNetFailOver"))*@


                    @*<div class="hdcol-xs-50 hd_menubox">
                        <div class="hdcol-xs-50 ">
                            <div class="hdform-group hdform-group-sm">
                                <label class="control-label pull-left">New Attribute</label>
                                <input type="text" class="hdform-control input-sm " placeholder="Key" id="hd_rightmenu_attr_name" />
                                <input type="text" class="hdform-control input-sm " placeholder="Value" id="hd_rightmenu_attr_value" />
                            </div>
                        </div>

                    </div>
                    <div class="hdcol-xs-50 hd_menubox">
                        <a href="javascript:void(0)"> Style </a>
                        <div id="hd_rightmenu_styles" class="hd_rightmenu_clear  hdcol-xs-50 "></div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div id="hd_rightmenu_tablemanage" class="hd_rightmenu" >
    <div class="hdcol-xs-50">
        <div class="hdpanel hdpanel-info hdcol-xs-50 hdpanelheading">
            <div class="hdpanel-heading hdcol-xs-50" id="hd_rightmenu_tablemanage_header">
                <h3 class="hdpanel-title">Table <span ></span></h3>
            </div>
            <div class="hdpanel-body open hdcol-xs-50" id="hd_rightmenu_tablemanage_body" style="">
                <div class="hdcol-xs-50" id="hd_rightmenu_tablemanage_allattributes" style="">
                    @Html.Raw(BindDropDown("DataListType", "datalisttype", "datatype", "", "Data Binding Method", "GetAllDataListTypes", "DbApi"))
                    @Html.Raw(BindDropDown("Table", "tables", "name", "Users", "Tables", "GetAllTables", "DbApi", "#hd_dbnames,#hd_authentications,#hd_servernames,#hd_usernames,#hd_passwords", "#hd_multipleactiveresultsets,#hd_trustservercertificate"))
                    @Html.Raw(BindDropDown("TableColumn", "tablecolumns", "name", "UserId", "Table Columns", "GetTableWithColumn", "DbApi", "#hd_tables,#hd_dbnames,#hd_authentications,#hd_servernames,#hd_usernames,#hd_passwords", "#hd_multipleactiveresultsets,#hd_trustservercertificate"))

                    @*@Html.Raw(BindDropDown("Table", "jointables1", "name", "Users", "Join Table 1", "GetAllTables", "DbApi", "#hd_tablecolumns,#hd_tables,#hd_dbnames,#hd_authentications,#hd_servernames,#hd_usernames,#hd_passwords", "#hd_multipleactiveresultsets,#hd_trustservercertificate"))
                    @Html.Raw(BindDropDown("JoinTableColumn1", "jointablecolumns1", "name", "UserId", "Join Table 1 Columns", "GetTableWithColumn", "DbApi", "#hd_jointables1,#hd_tablecolumns,#hd_tables,#hd_dbnames,#hd_authentications,#hd_servernames,#hd_usernames,#hd_passwords", "#hd_multipleactiveresultsets,#hd_trustservercertificate"))*@


                </div>
            </div>
        </div>
    </div>

</div>



